.navbar-default {
          background-color: rgba(0,0,0,0.70);
          background-image: none;
          background-repeat: no-repeat;
          border: none;
          
        }
        .navbar-default .navbar-brand {
 color:orange;
}
.navbar-default .navbar-nav > li > a {
 color:#DCDCDC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color:white;