#quantite {
	display: none;
}
	.quantite-clic {
		display: block !important;
	}
	#quantite1 {
	display: none;
}
	.quantite1-clic {
		display: block !important;
	}
	#quantite2 {
	display: none;
}
	.quantite2-clic {
		display: block !important;

	}
	#quantite3 {
	display: none;
}
	.quantite3-clic {
		display: block !important;

	}
	#quantite4 {
	display: none;
}
	.quantite4-clic {
		display: block !important;

	}
	#quantite5 {
	display: none;
}
	.quantite5-clic {
		display: block !important;

	}
	
	